@mixin animate($name, $duration, $iteration, $direction, $fill-mode, $delay) {
	-webkit-animation-duration: $duration;
	   -moz-animation-duration: $duration;
	     -o-animation-duration: $duration;
		    animation-duration: $duration;

	-webkit-animation-iteration-count: $iteration;
	   -moz-animation-iteration-count: $iteration;
	     -o-animation-iteration-count: $iteration;
	        animation-iteration-count: $iteration;

	-webkit-animation-name: $name;
	   -moz-animation-name: $name;
	     -o-animation-name: $name;
	        animation-name: $name;

	-webkit-animation-direction: $direction;
	   -moz-animation-direction: $direction;
	     -o-animation-direction: $direction;
            animation-direction: $direction;
            
    -webkit-animation-fill-mode: $fill-mode;
	   -moz-animation-fill-mode: $fill-mode;
	     -o-animation-fill-mode: $fill-mode;
            animation-fill-mode: $fill-mode;
    
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -o-animation-dealy: $delay;
    animation-delay: $delay,
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(fadeOut) {
    0% {
        opacity: 1;
    }
    

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@mixin fadeIn {
    @include animate(fadeIn, .75s, 1, normal, forwards, 1s);
}

@mixin fadeOut {
    @include animate(fadeOut, 1.5s, 1, normal, forwards, 0);
}
