$pokemon-size: 25%;
$trainer-size: 25%;
$column-gap: 0;



@mixin animate($name, $duration, $iteration, $direction, $fill-mode) {
	-webkit-animation-duration: $duration;
	   -moz-animation-duration: $duration;
	     -o-animation-duration: $duration;
		    animation-duration: $duration;

	-webkit-animation-iteration-count: $iteration;
	   -moz-animation-iteration-count: $iteration;
	     -o-animation-iteration-count: $iteration;
	        animation-iteration-count: $iteration;

	-webkit-animation-name: $name;
	   -moz-animation-name: $name;
	     -o-animation-name: $name;
	        animation-name: $name;

	-webkit-animation-direction: $direction;
	   -moz-animation-direction: $direction;
	     -o-animation-direction: $direction;
            animation-direction: $direction;
            
    -webkit-animation-fill-mode: $fill-mode;
	   -moz-animation-fill-mode: $fill-mode;
	     -o-animation-fill-mode: $fill-mode;
		    animation-fill-mode: $fill-mode;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(fade) {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@mixin fade {
    @include animate(fade, .6s, 1, normal, forwards);
}

body {
    margin: 0;
    padding: 0;
}

.cover {
    @include fade;
    background-color: black;
    z-index: 1;
    height:100vh;
    width:100vw;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;

    li {
        display:inline;
    }

    ul {
        padding: 0;
    }
}


