@import '_animations';

body {
    margin: 0;
    padding: 0;
}



nav {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;

    li {
        display:inline;
    }

    ul {
        padding: 0;
    }
}


.cover {
    @include fadeOut;
    background-color: black;
    height:100vh;
    width:100vw;
    position: absolute;
    top: 0;
}

#logo {
    @include fadeIn;
    opacity: 0;
    width: 50%;   
    margin-left: 25%;   
    margin-bottom: 1%;
}

.list-group-item {

    img {
        display: block;
        margin: auto;
    }
}

.card-body {
    img {
        transform: scale(.25);
        margin: -45%;
        pointer-events :none;
        float: right;
        z-index: 1000;
        position:relative;
    }
}




