@import '_animations';

body {
    margin: 0;
    padding: 0;
}



nav {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;

    li {
        display:inline;
    }

    ul {
        padding: 0;
    }
}


.cover {
    @include fade;
    background-color: black;
    height:100vh;
    width:100vw;
    position: absolute;
    top: 0;
}

#logo {
    width: 50%;   
    margin-left: 25%;
}



